---
import Layout from "../layouts/Layout.astro";
---


<Layout title="About Dn Gadgets">
<main class="about">
    <h1>Welcome to Dn Gadgets:  Expert Technician in iPhone and Android ! </h1>
    <p>
       At Dn Gadgets, we understand the importance of your smartphones in your daily life. <br> Our team of skilled technicians specializes in repairing and optimizing iPhones and Android devices,<br> ensuring that your gadgets function seamlessly.
    </p>
</main>
</Layout>