<footer>
    <ul>
      <li>
        <a href="https://www.facebook.com/profile.php?id=100068830778943&mibextid=ZbWKwL">Expert_Technician: <br> Eyah Natangcop Dn</a>
      </li>
      <li>
        <a href="https://www.facebook.com/profile.php?id=100068830778943&mibextid=ZbWKwL"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95z"/></svg> DN Gadgets
        </a>
      </li>
      <li>
        <a href="https://www.tiktok.com/@eyah_tech"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M16.6 5.82s.51.5 0 0A4.278 4.278 0 0 1 15.54 3h-3.09v12.4a2.592 2.592 0 0 1-2.59 2.5c-1.42 0-2.6-1.16-2.6-2.6c0-1.72 1.66-3.01 3.37-2.48V9.66c-3.45-.46-6.47 2.22-6.47 5.64c0 3.33 2.76 5.7 5.69 5.7c3.14 0 5.69-2.55 5.69-5.7V9.01a7.35 7.35 0 0 0 4.3 1.38V7.3s-1.88.09-3.24-1.48z"/></svg> DN Gadgets
        </a>
      </li>
    </ul>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3860.938253491446!2d121.04535277486957!3d14.602593277028342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b7d88d32dd87%3A0xb09128d0479c713b!2sUnimart%20-%20Greenhills%20Shopping%20Center!5e0!3m2!1sen!2sph!4v1696390517553!5m2!1sen!2sph" width="150" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </footer>